a:visited {
  text-decoration: none;
  color: #FFFFFF;
}



#Section1 {
  height: 100vh;
}
#Section4{
  height: 2vh;

}
#Contact{
padding:2vh;
}
#BigBlock {
  display: block;
  margin-top: 20vh;
}

#Presentation {
  width: 45vw;
  Height: 50vh;
  font-size: 0.9em
  padding:2vh;
}

#Skills {}

#XPs {
  background-color: #87CEFA;
}

#Section1 {
  background-image: url("img/desk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Home {
  padding-top: 30vh;
}

#BlockPresentation {
  height: 50vh;
  width: 50VW;
  background-color: #ad9677;
  color: #FFFFFF;
  padding: 2vW;
  border: 0.5em solid #343a40;
  border-radius: 2em;
  opacity: 0.7;
  overflow: scroll;
}



#XpBigBlock {
  background-image: url("img/img-code.jpeg");
}

#XpBlock {
  height: 100vh;
  vertical-align: middle;
  padding-top: 20vh;
  background-color: #293133;
  opacity: 0.7;
}

#SkillsBlock {
  padding-top: 15vh;
  height: 70vh;
  vertical-align: middle;
}

#Formation {
  background-image: url("img/wood.jpg");
}

#FormationBlock {
  height: 50VH;
  vertical-align: middle;
  margin: auto;
  background-color: #293133;
  opacity: 0.7;
  border-radius: 2em;
  border: 0.5em solid #ad9677;
}

#TitleFormation {
  font-size: 2em;
}

#SubTitleFormation {
  font-size: 1.5em;
}

.emptyBlock {
  height: 20vh;
  width: 100vw;
}

#XpTextTitle {
  font-size: 2em;
  margin-left: 4vw;
}

#XpTextList {
  font-size: 1em;
  margin-left: 4vw;
}

#WebSkills {
  padding-top: 13vh;
  width: 40vw;
  height: 100vh;
  background: #679FD2;
}

#WebTitle{
  font-size:0.8em;
  margin:2vw;
}

#WebList{
  font-size:0.5em;
  margin: 2vw;
}

#DesignSkills {
  padding-top: 17vh;
  width: 40vw;
  height: 100vh;
  background-color: #052D6E;
}

#DesignTitle {
  font-size: 2em;
  margin: 2vw;
}

#DesignList {
  font-size: 1.5em;
  margin: 2vw;
}

#VideoSkills {
  padding-top: 17vh;
  width: 40vw;
  height: 100vh;
  background: #447BD4;

}

#VideoTitle {
  font-size: 2em;
  margin: 2vw;
}

#VideoList {
  font-size: 1.5em;
  margin: 2vw;
}



@media screen and (max-width: 960px) {
  #Home {
    padding-top: 20vh;
  }

  #BlockPresentation {
    height: 40vh;
    width: 70VW;
    background-color: #ad9677;
    color: #FFFFFF;
    padding: 1vW;
    border: 0.5em solid #343a40;
    border-radius: 2em;
    opacity: 0.7;
  overflow: scroll;
  }

  #TitlePresentation {
    font-size: 2em;
  }

  #SubTitlePresentation {
    font-size: 1.5em;
  }

  #Presentation {
    font-size: 0.7em;
    height: 55vh;
    width: 60VW;
      padding:2vh;
  }
  #WebTitle{
    font-size:0.8em;
    margin:2vw;
  }

  #WebList{
    font-size:0.5em;
    margin: 2vw;
  }

  #DesignTitle {
    font-size: 2em;
    margin: 2vw;
  }

  #DesignList {
    font-size: 1.5em;
    margin: 2vw;
  }

  #VideoTitle {
    font-size: 2em;
    margin: 2vw;
  }

  #VideoList {
    font-size: 1.5em;
    margin: 2em;
  }
  #XpTextTitle {
    font-size: 2em;
    margin-left: 4vw;
  }

  #XpTextList {
    font-size: 1em;
    margin-left: 4vw;
  }
}

@media screen and (max-width: 760px) {
  #Home {
    padding-top: 15vh;
  }

  #BlockPresentation {
    height: 70vh;
    width: 70VW;
    background-color: #ad9677;
    color: #FFFFFF;
    padding: 1vW;
    border: 0.5em solid #343a40;
    border-radius: 2em;
    opacity: 0.7;
  overflow: scroll;
  }

  #TitlePresentation {
    font-size: 2em;
  }

  #SubTitlePresentation {
    font-size: 1.5em;
  }

  #Presentation {
    font-size: 0.7em;
    height: 65vh;
    width: 60vw;
      padding:2vh;

  }
}

#WebTitle{
  font-size:0.8em;
  margin:2vw;
}
#WebList{
  font-size:0.5em;
  margin: 2vw;
}

#DesignTitle {
  font-size: 2em;
  margin: 2vw;
}

#DesignList {
  font-size: 1.5em;
  margin: 2vw;
}

#VideoTitle {
  font-size: 2em;
  margin: 2vw;
}

#VideoList {
  font-size: 1.5em;
  margin: 2vw;
}

#XpTextTitle {
  font-size: 2em;
  margin-left: 4vw;
}

#XpTextList {
  font-size: 1em;
  margin-left: 2vw;
  margin-right: 2vw;
}
}

#TitleFormation {
  font-size: 2em;
}

#SubTitleFormation {
  font-size: 0.8em;
}
}

@media screen and (max-width: 460px) {
  #Home {
    padding-top: 15vh;
  }

  #BlockPresentation {
    height: 30vh;
    width: 70VW;
    background-color: #ad9677;
    color: #FFFFFF;
    padding: 3vW;
    border: 0.5em solid #343a40;
    border-radius: 2em;
    opacity: 0.7;
  overflow: scroll;
  }

  #TitlePresentation {
    font-size: 2em;
  }

  #SubTitlePresentation {
    font-size: 1.5em;
  }

  #Presentation {
    font-size: 0.7em;
    height: 50vh;
    width: 65vw;
      padding:2vh;



  }

  #XpTextTitle {
    font-size: 2vw;
    margin-left: 4vw;
  }

  #XpTextList {
    font-size: 1em;
    margin-left: 4vw;
  }

  #TitleFormation {
    font-size: 2em;
  }

  #SubTitleFormation {
    font-size: 0.8em;
  }

  #WebSkills {
    padding-left: 15VW;
    height: 40vH;
    font-size: 8vw;
  }

  #WebTitle{
    font-size:0.8em;
    margin:2vw;
  }

  #WebList{
    font-size:0.5em;
    margin: 2vw;
  }

  #DesignSkills {
    padding-left: 15VW;
    height: 50vH;
  }

  #DesignTitle {
    font-size: 2vw;
    margin: 2vw;
  }

  #DesignList {
    font-size: 8.5vw;
    margin: 2vw;
  }

  #VideoSkills {
    padding-left: 5VW;
    height: 50vH;
  }

  #VideoTitle {
    font-size: 2em;
    margin: 8vw;
  }

  #VideoList {
    font-size: 6.5vw;
    margin: 8vw;
  }
}

#LogoHtmlCss {
  width: 7vw;
}
